<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated flowcharts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="flowcharts.presentation.FlowchartsModelWizardID"
            name="%_UI_FlowchartsModelWizard_label"
            class="flowcharts.presentation.FlowchartsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FlowchartsModelFile.gif">
         <description>%_UI_FlowchartsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated flowcharts -->
      <editor
            id="flowcharts.presentation.FlowchartsEditorID"
            name="%_UI_FlowchartsEditor_label"
            icon="icons/full/obj16/FlowchartsModelFile.gif"
            extensions="flowcharts"
            class="flowcharts.presentation.FlowchartsEditor"
            contributorClass="flowcharts.presentation.FlowchartsActionBarContributor">
      </editor>
   </extension>

</plugin>
